@font-face {
  font-family: 'Barqish';
  src: url('/fonts/Barqish.ttf') format('truetype'),
    url('/fonts/Barqish.woff') format('woff'),
    url('/fonts/Barqish.woff2') format('woff2')
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logoGiratorio {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

@media screen and (max-height: 824px) {
  .logoGiratorio {
    bottom: 240px;
    left: 50px;
  }
}


@media screen and (max-height: 732px) {
  .logoGiratorio {
    bottom: 200px;
    left: 30px;
  }
}

@media screen and (max-height: 640px) {
  .logoGiratorio {
    bottom: 170px;
    left: 30px;
  }
}

@media screen and (max-height: 568px) {
  .logoGiratorio {
    bottom: 120px;
    left: 30px;
  }
}