@font-face {
  font-family: 'Barqish';
  src: url('/fonts/Barqish.ttf') format('truetype'),
    url('/fonts/Barqish.woff') format('woff'),
    url('/fonts/Barqish.woff2') format('woff2')
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}