@font-face {
  font-family: 'Barqish';
  src: url('/fonts/Barqish.ttf') format('truetype'),
    url('/fonts/Barqish.woff') format('woff'),
    url('/fonts/Barqish.woff2') format('woff2')
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logoGiratorio {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.mainContent_sandwich {
  width: 400px;
  height: 320px;
  position: absolute;
  top: -10;
  right: -300;
}

.mainContent_text {
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
}

@media screen and (max-height: 824px) {
  .logoGiratorio {
    bottom: 240px;
    left: 50px;
  }

  .mainContent_sandwich {
    width: 460px;
    height: 380px;
  }

  .mainContent_text {
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
  }
}

/* IPHONE X */
@media screen and (max-height: 814px) {

  .mainContent_text {
    font-size: 25px;
  }
}

@media screen and (max-height: 738px) {
  .logoGiratorio {
    bottom: 200px;
    left: 30px;
  }

  .mainContent_sandwich {
    width: 450px;
    height: 360px;
  }

}

@media screen and (max-height: 668px) {
  .logoGiratorio {
    bottom: 170px;
    left: 30px;
  }

  .mainContent_text {
    font-size: 22px;
  }
}

@media screen and (max-height: 568px) {
  .logoGiratorio {
    bottom: 120px;
    left: 30px;
  }

  .mainContent_sandwich {
    width: 380px;
    height: 280px;
  }
}

@media screen and (max-device-width: 281px) and (max-device-height: 653px) {
  .logoGiratorio {
    bottom: 120px;
    left: 30px;
  }

  .mainContent_sandwich {
    width: 360px;
    height: 270px;
  }
}