.container {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: whitesmoke;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #482ff7
}

.logoContainer {
  max-width: 150px;
}